.s-banner-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(195, 188, 211);
  padding: 0px;
  flex-direction: row-reverse; /* Text on right, image on left */
}

.s-banner-text {
  flex: 1;
  max-width: 50%;
  margin-right: 30px; /* Adjusted for right-side text */
}

.s-banner-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.s-banner-description {
  font-size: 1.2em;
}

.s-banner-image {
  flex: 1;
  max-width: 50%;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.s-banner-carousel {
  position: relative;
  width: 100%;
  height: auto;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.carousel-slide.active {
  opacity: 1;
  position: relative;
}

.carousel-slide picture,
.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Responsive */
@media (max-width: 768px) {
  .s-banner-block {
    flex-direction: column;
  }

  .s-banner-text,
  .s-banner-image {
    max-width: 100%;
    text-align: center;
    margin: 0;
  }

  .s-banner-title,
  .s-banner-description {
    text-align: center;
  }
}

.s-banner-text{
  margin-left: 15px;
}