.imageinfo-s-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.imageinfo-s-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #a69d9d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Adjust as needed */
}

.imageinfo-s-img {
    width: 60%;
    height: 400px;
    margin-left: 20%;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    border-radius: 4px;
}
.imagePicture {
    border-radius: 10px;
}


.imageinfo-s-text {
    font-size: 15px;
    font-style: italic;
    color: #737070;
    line-height: 1.6;
    text-align: left;
    margin: 0 auto 20px auto;
    width: 60%;
    padding: 0;
}


.imageinfo-s-text p {
    margin-bottom: 16px;
}

.imageinfo-s-button {
    margin-top: 20px;
}

.imageinfo-s-button a{
    background-color: #080202 !important;
    border-radius: 4px !important;
}

.imageinfo-s-button button {
    padding: 12px 24px;
    font-size: 1rem;
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    transition: background 0.3s ease;
}

.imageinfo-s-button button:hover {
    background-color: #333;
}