@import url('https://fonts.googleapis.com/css?family=Times+New+Roman&display=swap');
 
.imagegrid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}
 
.image-container {
  width: 100%;
  height: 400px; /* Adjust as needed */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  
}
 
.text-overlay {
  color: rgb(66, 24, 149);
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  justify-content: center;
  padding: 20px;
  background:#fff; /* Optional: improves readability */
  max-width: 80%;
}